<link rel="stylesheet" href="/css/footer.css">

{{#each CompanyInfo}}
<footer>
    <div class="footer row container">
        <div>
            <h4>Conéctate con {{company_name}}</h4>
            <div class="media-links row">
                <a href="{{facebook_link}}" class="row"><i class="fi fi-brands-facebook"></i></a>
                <a href="{{instagram_link}}" class="row"><i class="fi fi-brands-instagram"></i></a>
                <a href="{{email}}" class="row"><i class="fi fi-rr-envelope"></i></a>
                <a href="https://wa.me/{{phone}}" class="row"><i class="fi fi-brands-whatsapp"></i></a>
            </div>
        </div>
        <div class="contact row">
            <div>
                <h4>Atención al cliente</h4>
                <a href="tel:+57-321-456-7890">{{phone}}</a>
                <p>{{address}}</p>
            </div>
            <div>
                <h4>Soporte técnico</h4>
                <a href="https://wa.me/{{phone}}">{{phone}}</a>
                <p>{{email}}</p>
            </div>
        </div>
    </div>
    <hr>
    
</footer>
{{/each}}