<link rel="stylesheet" href="/css/index/product.css">

<section class="product" id="product">
    <div class="container">
        <h2>Dispositivos GPS <span>Guardian Pet</span></h2>

        <div class="deals">
            <h2>
                Los dispositivos GPS de Guardian Pet ofrecen seguimiento en tiempo real para mantener a tu mascota
                seguro.
            </h2>
            <a href="/tienda" class="page-btn deals-btn">
                Visitar Tienda <i class="fi fi-rr-shop"></i>
            </a>
        </div>

        <div class="product-card column grid">
            {{#each ProductsFeatured}}
            <div class="p-card">
                <div class="img row">
                    <img src="{{this.image}}" alt="{{this.title}}">
                    <div class="p-content">
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                        <p class="detail-price"><strong>Precio:</strong> ${{this.price}}</p>
                        <a href="#" class="page-btn add-cart-btn" data-product-id="{{this._id}}">
                            Agregar al carrito <i class="fi fi-rr-shopping-cart-add"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="/js/index/products.js"></script>