<link rel="stylesheet" href="/css/profileAdmin/configGuardianPet.css">

<section class="admin-section">
    <h2>Configuración <span>Guardian Pet</span></h2>
    {{#if guardianPetConfigs.length}}
    <table class="admin-table">
        <thead>
            <tr>
                <th>Nombre Empresa</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Instagram</th>
                <th>Facebook</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each guardianPetConfigs}}
            <tr>
                <td data-label="Nombre Empresa">{{this.company_name}}</td>
                <td data-label="Teléfono">{{this.phone}}</td>
                <td data-label="Dirección">{{this.address}}</td>
                <td data-label="Email">{{this.email}}</td>
                <td data-label="Instagram">
                    <a href="{{this.instagram_link}}" target="_blank">{{this.instagram_link}}</a>
                </td>
                <td data-label="Facebook">
                    <a href="{{this.facebook_link}}" target="_blank">{{this.facebook_link}}</a>
                </td>
                <td data-label="Acciones" class="action">
                    <button class="page-btn success" data-id="{{this._id}}" data-action="edit"><i
                            class="fi fi-rr-pencil"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p class="no-data">No hay configuración registrada para Guardian Pet.</p>
    {{/if}}
</section>

<script src="/js/profileAdmin/configGuardianPet.js"></script>