<link rel="stylesheet" href="/css/profileAdmin/shipping.css">

<section class="admin-section">
    <h2>Datos de <span>Shipping</span></h2>
    {{#if shipping.length}}
    <table class="admin-table">
        <thead>
            <tr>
                <th>Ciudad</th>
                <th>Costo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each shipping}}
            <tr>
                <td>{{this.city_ship}}</td>
                <td>{{this.amount}}</td>
                <td class="action">
                    <button class="page-btn admin" data-id="{{this._id}}" data-action="edit">Editar</button>
                    <button class="page-btn danger" data-id="{{this._id}}" data-action="delete">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p class="no-data">No hay registros de shipping en la plataforma en el momento.</p>
    {{/if}}
    <div class="add-shipping">
        <h3>Agregar nuevo registro de Shipping</h3>
        <form id="addShippingForm">
            <input type="text" name="city_ship" placeholder="Ciudad destino" required />
            <input type="text" name="amount" placeholder="Ingresar el costo del envio" required />
            <button type="submit" class="page-btn user">Agregar</button>
        </form>
    </div>
</section>

<script src="/js/profileAdmin/shipping.js"></script>